@font-face {
    font-family: 'LCD14';
        src: url('https://fontlibrary.org/assets/fonts/lcd/0bbb50971deb300331139c65b16b37c8/c52a6a7e7eb4e4875d41352504e08b7c/LCD14.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

#terminal {
  width: 120px;
  border: 3px double #2e8b57;
}
#terminalWindow {
  margin: 10px auto;
  width: 80px;
  height: 16px;
  border: 2px solid #2e8b57;
  text-align: center;
  font-family: LCD14;
  color: green;
}

td {
    width: 20pt;
    border: 1px solid #2e8b57;
    text-align: center;
}

table {
  padding: 12px;
}
